/*RESET*/

 *{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/*VARIABLES*/
:root{
--white:#FFFFFF;
--gray-light:#F8F9FA;/*gris claro*/
--text-dark:#353A49;
--primary:#1A73E8;/*azul claro*/

--border-radius:12px;

--font-main:'Inter', sans-serif;

--border-color:#dadce0;
--footer-bg:#f5f5f5;
}

body{
  font-family: var(--font-main);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img{
    max-width: 100%;
    display: block;
}

/*HeaderDebby*/
 
header{
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);/*ponemos la sombra 0 no se mueve a los lados, 4px se mueve hacia abajo, 6px difuminado y color*/
}

/*los enlaces y el logo, entran dentro de .nav*/
nav{
    display: flex;/*coloca los elementos uno al lado del otro*/
    align-items: center;/*los elementos se centran*/
    justify-content: space-between;/*los colocamos de extremo a extremo*/
    padding: 12px 20px;/*12 px se separa de arriba y abajo 20px los separamos de los lados*/
}

nav img{
    width: 36px;/*tamaño del logo*/
}


/*menu oculto en el móvil*/
.menu {
    display: none;
    list-style: none;/*quitamos los puntos de los enlaces*/
} 

.menu a{
    text-decoration: none;/*quita el subrayado de los enlaces*/
    color: var(--text-dark);/*cambia el color azul al color que se ha pedido*/
    font-size: 15px;/*tamaño de letra*/
    transition: color 0.2s ease;
}

.menu a:hover{
    color: var(--primary);
}

.icons{
    display: flex;
    list-style: none;
    gap: 18px;/*separación entre ellos*/
}

.icons img{
    width: 20px;/*tamaño de los iconos de carrito, etc.*/
}




/*MAIN CONTENEDOR adaptado a MOBILE*/

main{
    display: flex;
    flex-direction: column;/*dividimos el espacio para las dos secciones*/
    gap: 30px;/*los separamos entre ellos*/
    padding: 20px;/*separación lateral*/
}


/*GALERIA*/

.arrow{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
}

.arrow img{
    width: 18px;
}

.arrow p{
    color: var(--text-dark);
}

.product-gallery{
    display: flex;
    gap: 15px;
    /*align-items: center;alinea las imagenes veticalmente respecto a la imagen central*/
}

.thumbnails{
    display: none;
    /*flex-direction: column;
    gap: 20px;*/
}
  
.thumbnails img{
    width: 60px;/*tamaño de las imagenes*/
    border-radius: 50%;/*redondeamos las imagenes*/
    border: 1px solid var(--text-dark);
}

.thumbnails img:hover{
    border-color: var(--text-dark);
    color: pointer;
}


.main-image{
  background-color: var(--gray-light);
  border-radius: var(--border-radius);
  height: 280px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image img {
 width: 80%;
 height: 280px;
  object-fit: contain;/*reproduce el cuadro gris grande*/
}


/*PRODUCT INFO*/
 
 .product-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
 }

.product-info h1{
    font-size: 35px;
    font-weight: bold;
    color: var(--text-dark);/*gris oscuro*/
}

 .product-info h2{
    color: #888;
    font-size:20px;
    margin-top: 4px;
 }
 
.price{
    font-size: 20px;
    font-weight: 600; 
} 

 

hr {
    border: none;
    border-top: solid 2px var(--border-color);
    margin: 20px 0;
}

/*COLORS*/

.color-list{
    display: flex;
    gap: 12px;
    margin-top: 12px;
}


.color{
    width: 36px;/*ancho*/
    height: 36px;/*alto*/
    border-radius: 50%;
    border: 1px solid #333;
}

.blue{background:#6a8cf0;}
.gray{background:#ccc;}
.black{background:#000;}
.white{background:#777;}
.green{background:#b6de70;}
.pink{background:#e47285;}


/*PURCHASE*/

.purchase{
    background: var(--gray-light);/*usamos la variable creada en :root*/
    padding:24px;
    border-radius:var(--border-radius);
    display:flex;
    flex-direction:column;
    gap:18px;
   /* margin-top: 20px;*/
}

.purchase-controls{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.price-big{
color: var(--text-dark);
font-size:28px;
font-weight:600;
}

.quantity{
    width: 100%;
    padding: 10px;
    border-radius: var(--border-radius);
    border: 1px solid var(--text-dark); 
}


button{
    background:var(--primary);
    color: white;

    border: none;/*quitamos el borde del recuadro*/
    padding: 14px;
    border-radius: var(--border-radius);/*redondeamos el boton*/
    font-weight: 500;
    cursor: pointer;/*cambiamos la flecaha de indicación por una mano*/
}

/*DELIVERY*/

.delivery{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;
}

.delivery img{
    width: 22px;
}

.delivery p{
    color: var(--text-dark);
}

 
strong{
    color:var(--primary);
}     


/* FOOTER, distribución de los elementos del footer*/

footer{  
  margin-top:auto;
  border-top:1px solid #ddd;
  background:var(--footer-bg);
  padding: 20px;
}
.footer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


/*redes sociales*/
.social{
  display:flex;
  list-style:none;/*quita los puntos de los enlaces*/
  gap:18px;/*espacio entre ellos*/
  
}

.social img{
  width: 20px;
}

/*bandera y país*/
.country{
  display: flex;
  align-items: center;
  gap: 8px;
  color: #555;
 
}
.country img{
  width: 20px;
}

/*enlaces legales*/
.legal{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.legal a{
  text-decoration:none;/*quita el subrayado de los enlaces*/
  color:#555;
  font-size: 14px;
 
}
.legal a:hover{
  text-decoration: underline;
}








/*MEDIA QUERIE TABLET*/
@media (min-width:768px){


nav{
    padding: 14px 24px;
}

.menu{
    display: flex;
    gap: 28px;
    margin-left: 40px;
}

.icons{
    margin-left: auto;
}

main{
max-width:1100px;
margin:auto;
}

.product-gallery{
    align-items: center;
}

.thumbnails{
display:flex;
flex-direction: column;
gap: 20px;
}

.thumbnails img{
    width: 60px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
}

.main-image{
width:420px;
height:420px;
}



}



/*MEDIA QUERIE DESKTOP*/
@media (min-width:1024px){

/*media query desktop ya tienes gap:80px, pero conviene asegurar alineación.*/
main{
flex-direction:row;
gap:80px;
align-items: flex-start;
}

.product-info{
max-width:420px;
}

.purchase .quantity{
    width: 50px;
}

.purchase-controls{
    flex-direction: row;
    align-items: center;  
}

.quantity{
    width: 90px;
}

button{
    flex: 1;
}


.footer-container{
    flex-direction: row;
    align-items: center;
 }

.social{
    flex: 1;
}

.country{
    flex: 1;
    justify-content: center;
}

.legal{
    flex-direction: row;
    gap: 20px;
}
}